pyautogui>=0.9.53
pytesseract>=0.3.9
numpy>=1.21.5
keyboard>=0.13.5
clipboard>=0.0.4
opencv-python==4.5.5.62
pillow>=9.0.1
screeninfo>=0.8
pywin32>=303; platform_system=="Windows"
pywin32-ctypes>=0.2.0; platform_system=="Windows"
pyperclip==1.8.2
PyScreeze>=0.1.27
