pyautogui>=0.9.54
pytesseract>=0.3.9
numpy==1.24.4
keyboard>=0.13.5
clipboard>=0.0.4
opencv-python
pillow>=9.5.0
screeninfo>=0.8
pyperclip==1.8.2
PyScreeze>=0.1.27
pywin32>=303; sys_platform == 'win32'
pywin32-ctypes>=0.2.0; sys_platform == 'win32'
